* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}






/* general */

img {
    width: 60px;
    border-radius: 50%;
}

.d-flex {
    display: flex;
}

.logo {
    width: 50%;
}

.align-center {
    align-items: center;
}

.align-self-center {
    align-self: center;
}

.column {
    flex-direction: column;
}

.end {
    justify-content: end;
}

ul {
    list-style-type: none;
}

/* fine */






.container {
    height: 100vh;
    width: 100%;
    position: relative;
}

.container-top {
    height: 15%;
    background-color: #009688;
}

.container-bottom {
    height: 85%;
    background-color: #DBDBD2;
}

.main-window {
    height: 95%;
    width: 85%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.col-sx {
    height: 100%;
    min-width: 600px;
    background-color: #EAEAEA;
    border-right: 1px solid lightgray;
}

.col-dx {
    height: 100%;
    width: 1000px;
    background-color: #EAEAEA;
    border-right: 1px solid lightgray;
    min-width: 800px;
}


/* colonna sinistra */
.dx {
    width: 50%;
    justify-content: end;
}

.pad-1 {
    padding: 0.5em 1em;
}

.font-20 {
    font-size: 20px;
}

.font-40px {
    font-size: 40px;
}

.grey {
    color: grey;
}

.notify {
    background-color: #8EDAFC;
    height: 75px;
}

.lightblue {
    color: #8EDAFC;
    background-color: white;
    border-radius: 50%;
}

.search {
    height: 30px;
    margin: 10px;
    background-color: white;
}

input {
    width: 80%;
    outline: none;
    border: none;
}

.users {
    width: 95%;
    height: calc(100% - 200px);
    list-style-type: none;
    background-color: white;
    overflow-x: hidden;
}

.w-100 {
    width: 100%;
}

.sx {
    width: 15%;
}

.text {
    width: 55%;
}

.time {
    min-width: 35%;
    padding-right: 15px;
}

li {
    border-bottom: 1px solid lightgrey;
}
.main-window .col-sx ul li {
    cursor: pointer;
}

/* colonna destra */

.header {
    height: 75px;
}

.footer-dx {
    height: 75px;
}

.emoticon{
    width: 5%;
}

.input-chat{
    width: 90%;
}

.footer-dx input {
    height: 50px;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
}

.voice{
    width: 5%;
}

/* chat zone */

.main-dx {
    height: calc(100% - 150px);
    background-image: url(../img/mine.jpg);
    overflow-x: hidden;
}

.container-chat {
    width: 80%;
    height: 100%;
    margin: auto;
}

.received {
    background-color: white;
    border-radius: 10px;
    padding: 0.2em 1em;
    width: 350px;
    align-self: flex-start;
    margin-top: 2em;
}

.sent {
    background-color: #D5F9BA;
    border-radius: 10px;
    padding: 0.2em 1em;
    width: 350px;
    align-self: flex-end;
    margin-top: 2em;
}

h6 {
    align-self: flex-end;
}

.fa-angle-down {
    align-self: flex-end;
    opacity: 0;
    transition: 0.3s;
}
.container-chat ul li:hover .fa-angle-down  {
    opacity: 1;
    cursor: pointer;
}

.container-chat ul li {
    position: relative;
}

.menu {
    position: absolute;
    height: 70px;
    width: 180px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 15px;
    text-align: center;
    line-height: 32px;
    right: 30px;
}

.menu div:hover {
    background-color: lightgrey;
    cursor: pointer;
}